{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>SPaste</title>
	<link href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
	<link href="{% static 'paste/css/main.css' %}" rel="stylesheet">
</head>
<body>
	<div class="ui container">
		<h1 class="ui header">Paste {{ paste.paste_hash }}</h1>
		<div class="ui stackable grid">
			<div class="thirteen wide column">
				<div class="ui form">
					<div class="field">
						<textarea maxlength="65536" rows="20" id="textarea">{{ paste.content }}</textarea>
						<div class="ui raised segment markdown-body"></div>
					</div>
				</div>
			</div>
			<div class="three wide column">
				<div class="ui relaxed divided list">
					<div class="item">
						<div class="tiny ui buttons">
							<button class="ui blue button" id="copy-url">Copy URL</button>
							<div class="or" data-text="-" id="copy-status"></div>
							<button class="ui blue button" id="copy-text" data-clipboard-target="#textarea">Copy Text</button>
						</div>
					</div>
					<div class="item">
						<div class="tiny ui buttons">
							<a href="/new" target="_blank"><button class="ui blue button" id="new-paste">New</button></a>
							<div class="or" data-text="-" id="copy-status"></div>
							<button class="ui blue button" id="update">Save</button>
						</div>
					</div>
					<div class="item">
						<div class="ui toggle checkbox" id="markdown-view">
							<input type="checkbox" name="markdown-view" tabindex="0" class="hidden">
							<label for="markdown-view">Markdown View</label>
						</div>
					</div>
					<div class="item">
						<div class="ui label" data-content="Create Time" data-variation="mini inverted" data-position="right center">
							<i class="calendar icon"></i>
							<span id="create-time">{{ paste.getCreateTime }}</span>
						</div>
					</div>
					<div class="item">
						<div class="ui label" data-content="Last Modified" data-variation="mini inverted" data-position="right center">
							<i class="write icon"></i>
							<span id="modified-time">{{ paste.getModifiedTime }}</span>
						</div>
					</div>
					<div class="item">
					<a href="https://github.com/StdioA/SPaste" target="_blank">
						<i class="huge github icon"></i>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
	<script src="//dn-cdnjs-cn.qbox.me/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
	<script src="{% static 'paste/js/main.js' %}"></script>
</body>
</html>
